@model List<ClasshasMajorListModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<div class="container">
    <table class="table">
        <thead>
            <tr style="color:#fff">
                <th>#</th>
                <th>Sınıf Adı</th>
                <th>Bölüm Adı</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr style="color:#fff">
                    <td>@count</td>
                    <td>@item.ClassName</td>
                    <td>@item.MajorName</td>
                    <td>
                        <form action="@Url.Action("Delete", "ClassMajor", new { id = item.Id })" method="post">
                            <button type="submit" class="btn btn-danger">Sil</button>
                        </form>
                    </td>
                    <td>
                        <a href="@Url.Action("Update", "ClassMajor", new { id = item.Id })" class="btn btn-primary">Güncelle</a>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="4" class="text-left">
                    <a href="@Url.Action("CreateClassMajor", "ClassMajor")" class="btn btn-lg btn-success"
                       onmouseover="this.classList.remove('btn-success'); this.classList.add('btn-secondary');"
                       onmouseout="this.classList.remove('btn-secondary'); this.classList.add('btn-success');">
                        Sınıf/Bölüm Oluştur
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

