
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <a href="@Url.Action("Index", "Class")" id="bigbtn" class="btn btn-lg btn-primary mt-3 "
               onmouseover="this.classList.remove('btn-primary'); this.classList.add('btn-secondary');"
               onmouseout="this.classList.remove('btn-secondary'); this.classList.add('btn-primary');">
               Sınıf İşlemleri 
            </a>

        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-6 text-center">
            <a href="@Url.Action("Index", "Major")" id="bigbtn" class="btn btn-lg btn-primary  mb-3"
               onmouseover="this.classList.remove('btn-primary'); this.classList.add('btn-secondary');"
               onmouseout="this.classList.remove('btn-secondary'); this.classList.add('btn-primary');">
                Bölüm İşlemleri
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <a href="@Url.Action("Index", "Yazılacak")" id="bigbtn" class="btn btn-lg btn-primary  mb-3"
               onmouseover="this.classList.remove('btn-primary'); this.classList.add('btn-secondary');"
               onmouseout="this.classList.remove('btn-secondary'); this.classList.add('btn-primary');">
                Şube İşlemleri
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <a href="@Url.Action("Index", "ClassMajor")" id="bigbtn" class="btn btn-lg btn-primary  mb-3"
                    onmouseover="this.classList.remove('btn-primary'); this.classList.add('btn-secondary');"
                    onmouseout="this.classList.remove('btn-secondary'); this.classList.add('btn-primary');">
                Sınıf/Bölüm İşlemleri
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <a href="@Url.Action("Index", "Yazılacak")" id="bigbtn" class="btn btn-lg btn-primary  mb-3"
                    onmouseover="this.classList.remove('btn-primary'); this.classList.add('btn-secondary');"
                    onmouseout="this.classList.remove('btn-secondary'); this.classList.add('btn-primary');">
                Sınıf/Bölüm-Şube İşlemleri
            </a>
        </div>
    </div>
</div>
